---
target: '.travis.yml'
---

{% set github_user = data.get('vars')['github']['user'] -%}
{% set github_org = data.get('vars')['github']['org'] -%}
{% set docker_user = data.get('vars')['docker']['user'] -%}
{% set docker_org = data.get('vars')['docker']['org'] -%}
{% set docker_pass = env.get('DOCKER_PASS_JOEBLACKWASLIKE') -%}
{% set slack_secret = env.get('TRAVIS_SLACK_SECRET') -%}

addons:
  apt:
    packages:
    - realpath
language: python
python:
- "3.6"
services: docker
env:
  global:
  - GITHUB_USER={{ github_user }}
  - GITHUB_ORG={{ github_org }}
  - DOCKER_USER={{ docker_user }}
  - DOCKER_ORG={{ docker_org }}
  # DOCKER_PASS
  - secure: {{ shell('travis encrypt --no-interactive "DOCKER_PASS={}"'.format(docker_pass)).out.strip() }}
notifications:
  email:
    on_success: never
    on_failure: always
  slack:
    rooms:
    - secure: {{ shell('travis encrypt --no-interactive "{}"'.format(slack_secret)).out.strip() }}
    on_success: always
    on_failure: always

before_install:
- source scripts/ci/environment.sh
- pip install --upgrade docker-compose
- pip install invoke

install: inv dc.build

script: inv test

after_success:
- ci-tag-build
- hub-push
- hub-update-readme
